name: Monthly Branch and PR Creation

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *'  # 毎月1日の0時0分実行

permissions:
  contents: write
  pull-requests: write

jobs:
  create_branch_and_pr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v5
        with:
          ref: main
          fetch-depth: 0

      - name: Set up Git user
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions@github.com"

      - name: Create new branch
        id: create-branch
        run: |
          BRANCH_NAME="$(date +'%Y%m%d')_main"
          echo "branch_name=${BRANCH_NAME}" >> "${GITHUB_OUTPUT}"
          git checkout main
          git fetch origin
          git pull origin main
          git switch -c "${BRANCH_NAME}"
          git push origin "${BRANCH_NAME}" -f

      - name: Create pull request
        run: |
          gh pr create --base develop --head "${BRANCH_NAME}" --title "${BRANCH_NAME} to develop" --body "Automated PR from ${BRANCH_NAME} to develop"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH_NAME: ${{ steps.create-branch.outputs.branch_name }}
